<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test01.mapper.DistrictMapper">
                            <!--查询结果做一个结果集类型的指定-->
    <select id="findByParent" resultType="com.example.test01.entity.District">
    SELECT * FROM t_dict_district WHERE parent=#{parent} ORDER BY code ASC
    </select>
    <select id="findNameByCode" resultType="java.lang.String">
        SELECT name FROM t_dict_district WHERE code=#{code}
    </select>
</mapper>